extends layout

block content
  p Hi, #{user.displayName}!

  table.table.table-striped.table-hover
    caption
      h3 Positions you have held
    thead
      tr
        th Title
        th Company
        th Sector
        th
    tbody
      for position in positions
        tr
          td=position.title
          td=position.company.name
          td=position.company.industry
          td
            - if (position.company.id)
              a.btn.btn-primary(href='companies/#{position.company.id}/rate', title='Rate this employer!')
                i.icon-white.icon-hand-right
                |  Rate this employer!
            - else
              span Sorry, that employer is not registered with LinkedIn
