extends layout

block content
  h3 How do you think your company is on EQUALITY?
  .alert.alert-info
    strong Note:
    p Your response is recorded anonymously and can not be traced back to you. We only use your LinkedIn as "proof" that you've worked for this employer. The information you submit is not visible to your employer.
    p All responses are optional, but the more information you provide the more useful your feedback is.
  p You have worked at
    strong  #{position.company.name}
    |  as
    strong  #{position.title}
    |  from #{startDate} to #{endDate}

  form.form(action='/companies/rate', method='POST')
    input(type='hidden', name='hash', value='#{hash}')
    input(type='hidden', name='companyId', value='#{position.company.id}')
    fieldset
      legend Gender
      for gender in ['male', 'female']
        label.radio
          input(type='radio', name='gender', value='#{gender}')
          | #{gender}
    fieldset
      legend Female to male ratio (approx)
      input.span1(type='text', name='ratio[female]')
      |  :
      input.span1(type='text', name='ratio[male]')
    fieldset
      legend How would you describe the culture at your company?
      for culture in cultures
        label.checkbox
          input(type='checkbox', name='culture', value='#{culture}')
          | #{culture}
      textarea(rows='2', name='culture_text', placeholder='140 characters to describe the culture of your company')
    for question, field in questions
      fieldset
        legend=question
        for answer, val in {1: 'Yes', 0: 'No'}
          label.radio
            input(type='radio', name='#{field}', value='#{val}')
            | #{answer}
        - if (field == 'raise')
          div If you did receive a raise, approximately what was the percentage increase?
          .input-append
            input.span1(type='text', name='raise_percentage')
            span.add-on %
    fieldset
      legend What was your annual salary?
      .input-prepend
        span.add-on £
        input.span2(type='text', name='salary')
    button.btn.btn-primary(type='submit') Submit
